/* styles/23-style.css */

/* Target card-title that is inside card-services */
.card-services .card-title {
    margin: 0;
}

/* Target a that is inside card-services */
.card-services a {
    display: block;
    padding: 2rem;
    background-color: var(--color-light-grey);
    text-decoration: none;
}

/* Target the hover state of a that is inside card-services */
.card-services a:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    text-decoration: none;
}

