/* Target the root element and define custom properties */
:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
    --font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Revisit the section-tagline and card-category declarations */
.section-tagline, .card-category {
    color: var(--color-primary);
}

/* Revisit the body and anchor declarations */
body, a {
    color: var(--text-color);
    font-family: var(--font-family-base);
}

/* Set font-family for all heading levels */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title); /* Set all headings font-family to font-family-title */
}

