/* Targeting the root element to create custom properties */
:root {
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

/* Set the boldness of fonts in the body to font-weight-regular */
body {
    font-weight: var(--font-weight-regular);
}


/* Targeting all 6 levels of heading tags to set font-family to font-family-title */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
}
